:root {
  --primary-color-foreground: #505a78;
  --primary-color-background: #949bae;
  --secondary-color-foreground: #f07d28;
  --secondary-color-background: #f2b387;
  --success-color-foreground: #58c76a;
  --success-color-background: #8bbe95;
  --calm-color: #dcebf0;
  --danger-color-foreground: red;
  --danger-color-background: rgb(219, 110, 110);
  --bg-color: #ffffff;
  --black-color: #000000;
  --white-color: #ffffff;
  --gray-color: rgb(185, 185, 185);

  --navbar-height: 80px;

  --rounded: 9999px;
}
